.theme{
    --Primary-color:#702828;
    --Secondary-color: #000000;
    --button-color:#646665;
    --button-hover-color: #646665;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}