.theme{
    --Primary-color:#F9AE1A;
    --Secondary-color: #000000;
    --button-color:#F9AE1A;
    --button-hover-color: #F9AE1A;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
}